/venv
/backend/__pycache__
/backend/models/__pycache__
/backend/models/word2vec.model
/backend/models/local_model
/backend/models/local_tokenizer
backend/word_gen/__pycache__
/Wordle.mp4
backend/get_word/__pycache__
backend/translator/__pycache__
backend/categories/__pycache__
/frontend/node_modules
/backend/.env